.App{
  height: 100vh;
  background-color: #000000;
  font-family: monospace;
}

.header{
  font-family: sans-serif;
  position: absolute;
  top: 3px;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  color: #6044A1;
}

.iconZapp{
  color: white;
  text-align: center;
  margin: 0px auto;
}

.title{
  font-size: 1rem;
  color: white;
  font-weight: 400;
  margin-top: 3rem;
}

.link-whats{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #333;
  background-color: white;
}

.icon{
  color: greenyellow;
  font-size: 10rem;
  margin-bottom: 3rem;

}

.cel-input{
  max-width: 40%;
  font-size: 1.5rem;
}

.copy{
  position: absolute;
  font-family: sans-serif;
  bottom: 3px;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.copy a{
  text-decoration: none;
  color: greenyellow;
}

@media (max-width: 720px){
  .cel-input{
    max-width: 90%;
    font-size: 1.5rem;
  }
}

